In [1]:
import pandas as pd 
import numpy as np 
import matplotlib as plt

In [11]:
import pandas as pd

# Chemin vers ton dataset final propre
CSV_FILE = "MASTER_dataset_all_sensors_CLEAN.csv"

# Chargement du dataset
df = pd.read_csv(CSV_FILE)

# Vérifications immédiates
print("✅ Dataset chargé avec succès")
print("Shape :", df.shape)
print("Colonnes :", df.columns[:5].tolist(), "...", df.columns[-5:].tolist())

# Vérifier que tout est bien numérique (sauf 'cycle')
non_numeric = df.drop(columns=["cycle"]).select_dtypes(exclude=["number"]).columns
print("Colonnes non numériques :", list(non_numeric))

# Aperçu
display(df.head())

✅ Dataset chargé avec succès
Shape : (2205, 1946)
Colonnes : ['cycle', 'PS1_mean_w0', 'PS1_mean_w1', 'PS1_mean_w2', 'PS1_mean_w3'] ... ['VS1_mean', 'VS1_min', 'VS1_max', 'VS1_std', 'VS1_slope']
Colonnes non numériques : []

,cycle,PS1_mean_w0,PS1_mean_w1,PS1_mean_w2,PS1_mean_w3,PS1_mean_w4,PS1_mean_w5,PS1_mean_w6,PS1_mean_w7,PS1_mean_w8,...,TS4_mean,TS4_min,TS4_max,TS4_std,TS4_slope,VS1_mean,VS1_min,VS1_max,VS1_std,VS1_slope
0,1,176.8996,184.6420,189.8996,191.3442,191.2833,191.3120,191.2947,191.3183,191.3116,...,31.745250,30.363,33.594,1.107135,0.063211,0.576950,0.532,0.624,0.026852,-0.000618
1,2,174.2707,191.3529,191.3024,191.3244,191.2904,191.2400,191.2647,191.2463,191.2714,...,34.493867,33.648,35.148,0.431670,0.024709,0.565850,0.524,0.626,0.027013,-0.000858
2,3,174.0188,191.2384,191.2183,191.2233,191.2159,191.2040,191.1968,191.1760,191.2123,...,35.646150,35.098,36.141,0.291430,0.016711,0.576533,0.529,0.662,0.036422,-0.001313
3,4,173.6540,191.1975,191.1919,191.1685,191.1353,191.1725,191.1252,191.1575,191.0729,...,36.579467,36.105,36.988,0.260201,0.014897,0.569267,0.527,0.645,0.033184,-0.000875
4,5,173.4353,191.2045,191.1586,191.0698,191.1039,191.0707,191.0806,191.0756,191.0682,...,37.427900,36.992,37.781,0.237566,0.013597,0.577367,0.524,0.660,0.033203,-0.001028

In [12]:
# Chemin vers le dataset final
DATASET_FILE = "FINAL_DATASET_READY_FOR_ML.csv"

# Chargement du dataset
df = pd.read_csv(DATASET_FILE)

# Vérifications essentielles
print("✅ Dataset chargé avec succès")

df.head()

✅ Dataset chargé avec succès

,cycle,PS1_mean_w0,PS1_mean_w1,PS1_mean_w2,PS1_mean_w3,PS1_mean_w4,PS1_mean_w5,PS1_mean_w6,PS1_mean_w7,PS1_mean_w8,...,TS4_min,TS4_max,TS4_std,TS4_slope,VS1_mean,VS1_min,VS1_max,VS1_std,VS1_slope,valve_condition
0,1,176.8996,184.6420,189.8996,191.3442,191.2833,191.3120,191.2947,191.3183,191.3116,...,30.363,33.594,1.107135,0.063211,0.576950,0.532,0.624,0.026852,-0.000618,100
1,2,174.2707,191.3529,191.3024,191.3244,191.2904,191.2400,191.2647,191.2463,191.2714,...,33.648,35.148,0.431670,0.024709,0.565850,0.524,0.626,0.027013,-0.000858,100
2,3,174.0188,191.2384,191.2183,191.2233,191.2159,191.2040,191.1968,191.1760,191.2123,...,35.098,36.141,0.291430,0.016711,0.576533,0.529,0.662,0.036422,-0.001313,100
3,4,173.6540,191.1975,191.1919,191.1685,191.1353,191.1725,191.1252,191.1575,191.0729,...,36.105,36.988,0.260201,0.014897,0.569267,0.527,0.645,0.033184,-0.000875,100
4,5,173.4353,191.2045,191.1586,191.0698,191.1039,191.0707,191.0806,191.0756,191.0682,...,36.992,37.781,0.237566,0.013597,0.577367,0.524,0.660,0.033203,-0.001028,100